API_ID = 27897195
API_HASH = 66c0576cae67f1e590a7c83ef3270300
BOT_TOKEN = 8318550210:AAFXHnzUj9432OThi1GZxxYIAKuP1bY0BaA
LOG_GROUP_ID = -1002970600713
MONGO_DB_URI = mongodb+srv://mrpritam2136:YEbBCSVLYg1vEtr9@pritam.myrfoih.mongodb.net/?retryWrites=true&w=majority
OWNER_ID = 6014895515
STRING_SESSION = 
STRING_SESSION2 = 

